<!-- views/result.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Quiz Result</title>
</head>
<body>
    <h1>Your Score: <%= score %>/<%= total %></h1>
    <a href="/subjects">Take Another Quiz</a>
    <a href="/leaderboard">View Leaderboard</a>'
    <% if (locals.success && success.length > 0) { %>
        <div style="color: green;"><%= success %></div>
    <% } %>
    <% if (locals.error && error.length > 0) { %>
        <div style="color: red;"><%= error %></div>
    <% } %>
</body>
</html>