<!DOCTYPE html>
<html lang="en">

<head>
  
</head>

<body class="bg-image">
    
        <main class="container main min-vh-100-within d-flex d-flex-col justify-content-center ">

            <!-- Main content goes here -->
            <form action="/signup?_method=POST" method="POST" class="m-8 p-6 form" autocomplete="off">
                <h1 class="text-center mb-4">Sign up</h1>

                <div class="mb-2">
                    <label for="username" class="form-text pb-1">Enter your username</label>
                    <input type="username" id="username" class="form-control" name="username" placeholder="username"
                        required>
                </div>


                <div class="mb-2">
                    <label for="password" class="form-text pb-1">Enter a password</label>
                    <input type="password" id="password" class="form-control" name="password" placeholder="password"
                        required>
                </div>

                <div class="mb-2">
                    <label for="password-repeat" class="form-text pb-1">Confirm password</label>
                    <input type="password" id="password-repeat" class="form-control" name="passwordRepeat" placeholder="confirm your password"
                        required>
                </div>

                <a class="link fs-small d-block text-right" href="/">I have an account.</a>

                <div class="d-flex justify-content-end mt-8">
                    <button type="reset" class="btn d-block ms-2">Clear</button>
                    <button type="submit" class="btn btn-primary d-block ms-2">Sign up</button>
                </div>
            </form>

            
        </main>
        <% if (locals.error && error.length > 0) { %>
            <div style="color: red;"><%= error %></div>
        <% } %>
</body>

</html>